<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top home-top-nav">
    <div class="container-fluid container px-3 px-md-0">
        <a class="navbar-brand" href="#">
            <h2 class="logo">
                <span class="T">T</span>ech<span class="T">T</span>own
            </h2>
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link btn m-1" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn m-1" href="#">About</a>
                </li>
                <li class="nav-item d-flex justify-content-center align-item-center">
                    <a class="nav-link btn btn-outline-primary py-1 px-2 btn-sm m-1 mt-md-2 aut-button"
                       href="#">Sign In</a>
                </li>
                <li class="nav-item d-flex justify-content-center align-item-center">
                    <a class="nav-link btn btn-outline-primary py-1 px-2 btn-sm m-1 mt-md-2 aut-button"
                       href="#">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
