@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');


:root {
  --background-color: #AAF5F6;
  --yellow-color: #fc6722;
  --violet-color: #8683ca;
  --text-color: #324B4B;
}

/* START CUSTOM  */
.bdr {
  border: red 2px solid;
}

.yellow-btn {
  background-color: var(--yellow-color) !important;
}

ul {
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

.text-color {
  color: var(--text-color);
}

a {
  text-decoration: none !important;
}

/* END CUSTOM  */

/* START  NAVBAR */
.home-top-nav {
  /* Initial style */
  box-shadow: none;
}

.home-top-nav.scrolled {
  /* Style when scrolled */
  box-shadow: 2px 2px 5px rgb(189, 187, 187);
}

/* END  NAVBAR */


/* START HEADER  */
header {
  margin-top: 70px;
}

.header-container {
  background: var(--background-color);
}

.discover-text {
  color: var(--yellow-color);
}

.latest-text {
  color: var(--violet-color);
}

.logo {
  font-family: 'Tektur', cursive;
  color: var(--text-color);
}

.explore-text {
  color: var(--text-color);
}

.T {
  color: var(--yellow-color);
}
.brand-text{
  font-weight: 100 !important;
  font-size: 17px !important;
}
/* END HEADER  */

/* START DASHBOARD  */
.dashboard-sidebar {
  background-color: var(--violet-color);
}

.sider-link {
  height: 100vh;
}

.sider-link li {
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all .2s;
  padding-left: 10px;
}

.sider-link li:hover {
  background: turquoise;
  padding-left: 20px;
}

#logout:hover{
background: red;
}
/* END DASHBOARD  */



/* ==========4. START MEDIA QUARY ============  */
@media screen and (min-width: 992px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 778px) {}

/* ========== END MEDIA QUARY ============  */